<html>
  <head><title><%= title %></title></head>
  <body>
    welcome <%= user%>;
    <form name="delbutton" method="delete" action="/crew:id">
    <table>
        <tr>
        <td colspan="2"><input type="submit" value="Save" ></td>
        </tr>
    </table>
    </form>
  </body>
</html>