<html>
  <head><title><%= title %></title></head>
  <body>
    welcome <%= user%>;
    <form name="form1" method="POST" action="/crewentry">
    <table>
        <tr>
        <td>name</td>
        <td><input type="text" name="name" ></td>
        </tr>
        <tr>
        <td>phone</td>
        <td><input type="text" name="phone" ></td>
        </tr>
        <tr>
        <td>email</td>
        <td><input type="text" name="lname" ></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="Save" ></td>
        </tr>
    </table>
    </form>
  </body>
</html>